.footer{
    font-weight: 500;
    color: #fff;
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 40px;
}
.footer-content{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
.footer-content ul{
    list-style: none;
    margin-top: 10px;
}
.footer-content a{
    text-decoration: none;
    color: #fff;
}
.footer-content li{
    margin-top: 5px;
}

.footer-menu-name {
    color: #fffff2;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: .1em;
    line-height: 18px;
    text-transform: uppercase;
}