<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column" fxLayoutAlign="space-around" class="footer">
    <div fxFlex.lg="48%" fxFlex.md="40" fxFlex.xs="100" class="footer-content">
        <h1>Shopping Cart</h1>
        <span>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Similique vitae nemo earum, quo deleniti nihil est
            saepe sequi sunt, cum ipsam harum ratione sapiente iusto, iure doloremque possimus. Ducimus minus voluptates
            odio tenetur porro temporibus non! Quam tenetur eius ea modi suscipit voluptates quidem quae atque tempora
            illum cum, iste blanditiis recusandae consequuntur!
        </span>
    </div>
    <div fxFlex.lg="45%" fxFlex.md="20" fxFlex.xs="30" fxLayoutAlign="space-around center">
        <div class="footer-content">
            <h2 class="footer-menu-name">Product</h2>
            <ul>
                <li><a href="#">Videos</a></li>
                <li><a href="#">Audios</a></li>
                <li><a href="#">Books</a></li>
            </ul>
        </div>
        <div class="footer-content">
            <h2 class="footer-menu-name">Links</h2>
            <ul>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Carrier</a></li>
            </ul>
        </div>
        <div  class="footer-content">
            <h2 class="footer-menu-name">Address</h2>
            <ul>
                <li><a href="#">123,Xyz Street</a></li>
                <li><a href="#">BGF Luton</a></li>
                <li><a href="#">India</a></li>
            </ul>
        </div>
    </div>
</div>