.hamburger {
  color: #fff;
  margin-top: 10px;
  margin-right: 20px;
}

.navbar {
  width: 100%;
  height: 80px;
  //  position: fixed;
  top: 0;
  left: 0;
  padding: 0 4%;
  //background: rgba(0, 34, 68, 0.5);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  z-index: 9;
  display: flex;
  align-items: center;
}

.search-box {
  border: none;
  border-bottom: 1px solid #aaa;
  background: transparent;
  outline: none;
  height: 30px;
  color: #fff;
  width: 250px;
  text-transform: capitalize;
  font-size: 16px;
  font-weight: 500;
  transition: .5s;
}

.search-box:focus {
  width: 350px;
  border-color: #1f80e0;
}

.sub-btn {
  background-color: #1f80e0;
  height: 30px;
  padding: 0 20px;
  color: #fff;
  border-radius: 5px;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  margin: 0 10px;

}

:host ::ng-deep .mat-tab-link {
  min-width: 60px;
}

.login-link {
  color: #fff;
  opacity: 0.9;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}

.right-container {
  display: block;
  margin-left: auto;
  margin-right: 10px;
}

.tab-links {
  color: #fff;
  opacity: 0.7;
}

.tab-links:active {
  opacity: 0.9;
}

.sidenav {
  background-color: #002244;
  color: #fff;
  position: fixed;
  z-index: 9;
  width: 100%;
}

:host ::ng-deep .mat-tab-nav-bar,
.mat-tab-header {
  border-bottom: 0px !important;
}

.brand-logo {
  height: 100%;
  width: 13%;
}

@media screen and (max-width:600px) {
  .brand-logo {
    width: 32%;
  }
}