    <nav mat-tab-nav-bar fxLayoutAlign="space-evenly center" class="navbar" >
        <div fxShow="true" fxHide.gt-sm="true">
            <a (click)="sidenav.toggle()">  <mat-icon class="hamburger">menu</mat-icon></a>
          </div>
          <div fxFlex="60" >
          <img routerLink="/home" src="assets/images/logo1.png" class="brand-logo" alt="../../assets/images/logo1.png">
        <a  mat-tab-link class="tab-links" fxShow="true" fxHide.lt-md="true" *ngFor="let link of links" [routerLink]="link.url" 
          > {{link.name}} </a>
        </div>
        <div fxFlex="40" fxLayoutAlign="end center" fxShow="true" class="right-container">
           <input type="text"  fxHide.lt-md="true" class="search-box" placeholder="search">
           <button class="sub-btn">my Account</button>
           <a *ngIf="!loginService.getIsLoggedIn()"  class="login-link" (click)="login()">login</a>
           <a  *ngIf="loginService.getIsLoggedIn()"  class="login-link" (click)="logout()">logout</a>
        </div>
        
      </nav>
    
      <mat-sidenav #sidenav class="sidenav" fxLayout="column">
        <div fxLayout="column">
          <a (click)="sidenav.toggle()" mat-button>Close</a>
         
        <a href="#" *ngFor="let link of links"
        mat-button  [routerLink]="link.url" >{{link.name}} </a>
        </div>
      </mat-sidenav>

