<!-- <app-login *ngIf="this.loginService.showLoginValue" (LoginEvent)="receiveLogin($event)"></app-login> -->
<div class="cover-carousel">
    <ngx-slick-carousel class="carousel1" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <img class="cover-image" (click)="playVideo()" src="{{ slide.img }}" alt="assets/images/dress1.jpeg"
                width="100%">
        </div>
    </ngx-slick-carousel>
</div>
<div class="latest">
    <h2 class="tray-title"><a class="tray-link" href="#">clothes</a> </h2>
    <!-- <button class="btn-next" (click)="next()">next</button> -->
    <ngx-slick-carousel class="carousel" #slickModal1="slick-carousel" [config]="slideConfig1">
        <div ngxSlickItem *ngFor="let slide of slides1" class="tray-slide">
            <img class="card-image" (click)="playVideo()" src="{{ slide.img }}" alt="" height="100% " width="100%">
        </div>
    </ngx-slick-carousel>
</div>
<div class="latest">
    <h2 class="tray-title"><a class="tray-link" href="#">grocery</a> </h2>
    <!-- <button class="btn-next" (click)="next()">next</button> -->
    <ngx-slick-carousel class="carousel" #slickModal1="slick-carousel" [config]="slideConfig1">
        <div ngxSlickItem *ngFor="let slide of slides" class="tray-slide">
            <img class="card-image" src="{{ slide.img }}" (click)="playVideo()" alt="" height="100% " width="100%">
        </div>
    </ngx-slick-carousel>
</div>
<app-marketing></app-marketing>
<div class="latest">
    <h2 class="tray-title"><a class="tray-link" href="#">Recommended For You</a> </h2>
    <!-- <button class="btn-next" (click)="next()">next</button> -->
    <ngx-slick-carousel class="carousel" #slickModal1="slick-carousel" [config]="slideConfig1">
        <div ngxSlickItem *ngFor="let slide of slides" class="tray-slide">
            <img class="card-image" src="{{ slide.img }}" (click)="playVideo()" alt="" height="100% " width="100%">
        </div>
    </ngx-slick-carousel>
</div>
<app-faq></app-faq>
<div class="get-start-div" *ngIf="!loginService.getIsLoggedIn()"><button mat-raised-button class="get-started-button" (click)="getStarted()" color="warn">Get Started</button></div>